
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../static/css/search.css" type="text/css">



<form action="/search" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Features</h1>
			</div>

			<div class="login-form">


				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Search" name="search">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Search" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
</head>
</html>
